./node_modules
*./node_modules
*node_modules
node_modules

./FrontEnd
*./FrontEnd
*FrontEnd
FrontEnd

./Backend
*./Backend
*Backend
Backend

./Supplier-Delivery-Frontend
*./Supplier-Delivery-Frontend
*Supplier-Delivery-Frontend
Supplier-Delivery-Frontend