<Navbar></Navbar>
<div class="holder">
  <div class="tabs">
    <button (click)="changeTable('all')" [ngClass]="{'active': selectedTable=='all'}">View My orders</button>

    <button (click)="changeTable('previous')" [ngClass]="{'active': selectedTable=='previous'}">View previous
      orders</button>
    <button (click)="changeTable('myProducts')" [ngClass]="{'active': selectedTable=='myProducts'}">View My
      Products</button>
    <button (click)="createProduct()">Create Product</button>
  </div>
  <div *ngIf="selectedTable != 'myProducts'">
    <h1>{{ titles[selectedTable] }}</h1>
    <div class="main_table">
      <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>OrderID</th>
            <th>Client</th>

            <th>
              <div class="product_details">
                <p>Product Name</p>
                <p>Product Quantity</p>
                <p>Product Price</p>
                <p>Product Status</p>
              </div>
            </th>
            <th>Total Price</th>
            <th *ngIf="selectedTable != 'previous'">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>
              <p class="fw-normal mb-1">{{order.ordernumber}}</p>
            </td>
            <td>
              <p class="fw-bold mb-1">{{order?.user?.firstname}} {{order?.user?.lastname}}</p>
              <a class="fw-bold mb-1" href="tel:{{order?.user?.mobileNumber}}">Mob: {{order?.user?.mobileNumber}}</a>
            </td>
            <td class="split">
              <div class="product_details"
                *ngFor="let product of order.products">
                <p>{{product.product.productName}}</p>
                <p>{{product.quantity}}</p>
                <p>{{product.priceatPurchase | currency:'EGP ':'symbol':'.2-2'}}</p>
                <p [class]="'edset_badge ' + product.status">{{mappedStatus[product.status] || product.status}}</p>
              </div>
            </td>
            <td>
              <p>{{(order.totalPrice) | currency:'EGP ':'symbol':'.2-2'}}</p>
            </td>
            <td>
              <div class="actions" *ngIf="selectedTable != 'previous'">
                <button type="button" (click)="changeOrderStatus(order._id)" class="edset_button">
                  {{actions[selectedTable]}}
                </button>
              </div>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="selectedTable == 'myProducts'">
    <div class="main_table">
      <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <!-- <th>Product IDz</th> -->
            <th>Product Photo</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Product Price</th>
            <th>Product Rating</th>
            <th>Product Category</th>
            <th>Product Quantity</th>
            <th>Restock</th>
          </tr>
        </thead>
        <tr *ngFor="let product of products">
          <!-- <td>
                <p class="fw-normal mb-1">{{product.productID}}</p>
              </td> -->
          <td>
            <img class="img" src={{product.photoLinks}} />

          </td>
          <td>
            <p class="fw-normal mb-1">{{product.productName}}</p>
          </td>
          <td>
            <p class="fw-normal mb-1">{{product.description}}</p>
          </td>
          <td>
            <p class="fw-normal mb-1">EGP {{product.price}}</p>
          </td>
          <td>
            <p class="fw-normal mb-1">{{product.rating}}</p>
          </td>
          <td>
            <p class="fw-normal mb-1">{{product.category}}</p>
          </td>
          <td>
            <p class="fw-normal mb-1">{{product.quantity}}</p>
          </td>
          <td>
            <button type="button" (click)="openPopup(product._id)" class="edset_button">
              Restock
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div id="popup" class="popup">
      <div class="popup-content">
        <div>
          <label for="inputField">Increase Quanity by:</label>
          <br>
          <input type="number" [(ngModel)]="quanity">
        </div>
        <div class="buttons">
          <button class="edset_button restock" (click)="restock()">Restock</button>
          <button class="edset_button cancel" (click)="closePopup()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>