/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
:root {
    --main-color: rgb(0, 166, 255);
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
}

.edset_button {
    border: none;
    font-size: 18px;
    margin-top: 12px;
    padding: 12px 24px;
    border-radius: 12px;

    color: #fff;
    cursor: pointer;
    background-color: var(--main-color);

}

.main_table {
    width: 100%;
    overflow-x: auto;
}

.edset_badge {
    padding: 4px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;

    &.Pending {
        color: rgba(#f3d504, 0.8);
    }
    &.Delivering {
        color: rgba(#00a6ff, 0.8); 
    }
    &.Delivered {
        color: rgba(#228b22, 0.8); 
    }
    &.Canceled {
        color: rgba(#b22222, 0.8); 
    }
    &.Preparing {
        color: rgba(#4b00ff, 0.8); 
    }
}


input,
select,
textarea {
    width: 100%;
    font-size: 16px;
    padding: 12px 8px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid #eee;
    box-shadow: 0px 5px 12px #eee;
    &.ng-touched {
        &.ng-invalid {
            border: 1px solid rgba(185, 40, 40, 0.384);
        }
    }
}