.form{
display: flex;
flex-direction: column;
justify-content: space-between;
margin: 20%;
align-items:stretch;
}
.options{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}